      .main-block {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      }
      form {
      padding: 30px;
      margin: 0px;
      box-shadow: 0 1px 5px #000080; 
      background: #191970; 
      border-radius:20px;
      }
      input, textarea {
      width: calc(100% - 18px);
      padding: 8px;
      margin-bottom: 20px;
      border: 1px solid #1c87c9;
      outline: none;
      border-radius:10px;

      }
      input::placeholder {
      color: #666;
      }
      button {
      width: 97%;
      padding: 10px;
      border: none;
      background: #1c87c9; 
      font-size: 16px;
      color: #fff;
      border-radius:10px;
      }
      button:hover {
      background: #2371a0;
      }    
      flex-direction: row;
      }
      .left-part, form {
      width: 50%;
      }
      }