body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    max-width: 600px;
	
}

.imglogo {
   width: 100%;
   height: 200%;
   max-width: 300px;
}

.pdfviewer {
   width: 100%;
   height: 100%;
   border: none;
}



@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }

}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #FFF;
    color: #337AB7;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #337AB7;
    color: #FFF;
}
.welcome-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.feedback-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.contacts-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.team-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.quiz-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.pdf-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}


.navbar-default .navbar-nav > li > a:hover {
	color: #00008B;
	background-color: #FFFFFF;
	border-radius: 20px;
}
.navbar-default {
    background-color: #191970;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: bold;
	border-radius: 20px;
}



